<p><b>Title</b> <input type="text" name="title" value="<%= @entry.title %>" /></p>
<p><b>URL?</b> <input type="text" name="url" value="<%= @entry.url %>" /></p>
<p><b>Text</b> <textarea name="text"><%= @entry.text %></textarea></p>