<h2>
    <% if @entry.url %>
        <%= link_to @entry.title, @entry.url %>
    <% else %>
        <%= @entry.title %>
    <% end %>
</h2>
<% if @entry.url %>
    <p style="margin-top:-20px"><small><%= @entry.short_uri %></small></p>
<% end %>

<%= @entry.html %>