<form action="/create" method="post">
    <p><input type="text" name="title"/></p>
    <p><input type="text" name="url"/></p>
    <p><textarea name="text"></textarea></p>
    <p><input type="submit" value="create"/></p>
</form>