<h2>New Entry</h2>

<form action="/admin/create" method="post">
    <%= partial :entry_form %>
    <p><input type="submit" value="create"/> <input type="button" value="cancel" onclick="location.href='/'"/></p>
</form>