body {font-family: verdana;}
code {font-family:"Bitstream Vera Sans Mono","Monaco","Courier",monospace;}

textarea {width:100%; height:300px; border:1px solid #888888; padding:5px;}
input {border:1px solid #888888; padding:5px;}
label {font-weight:bold; margin-right:10px;}
.text_input {width:100%;}

#nav {margin-bottom:15px; position:absolute; top: 0pt; right: 0pt; margin-right:10px;}
#footer {font-size:0.7em; margin-top:20px;}

/* Syntax highlighting */
#content .normal {}
#content .comment { color: #CCC; font-style: italic; border: none; margin: 0; }
#content .keyword { color: #C60; font-weight: bold; }
#content .method { color: #9FF; }
#content .class { color: #074; }
#content .module { color: #050; }
#content .punct { color: #0D0; font-weight: bold; }
#content .symbol { color: #099; }
#content .string { color: #C03; }
#content .char { color: #F07; }
#content .ident { color: #0D0; }
#content .constant { color: #07F; }
#content .regex { color: #B66; }
#content .number { color: #FF0; }
#content .attribute { color: #7BB; }
#content .global { color: #7FB; }
#content .expr { color: #909; }
#content .escape { color: #277; }
#content .syntax {
  width:650px;
  background-color: #333;
  padding: 2px;
  margin: 5px;
  margin-left: 1em;
  font-size:9pt;
  letter-spacing:0;
  line-height:1.3em;
}
#content .syntax .line_number {
  text-align: right;
  padding-left: 1em;
  padding-right: 1em;
  color: #999;
}